* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #902d41;
    --secondary-color: #6fb4c9;
    --tertiary-color: #cb958e;
}
body { 
    font-family: 'Raleway', sans-serif;
    color: var(--primary-color);
}
header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    position: sticky;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 2vw;
}
header a{
    color: var(--primary-color);
    text-decoration: none;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}
header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--primary-color);
    text-shadow: none;
}
section {
    padding: 60px;
}
.hero {
    background-color: var(--secondary-color);
    justify-content: center;
    text-align: center;
    font-size: 4vw;
}